<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
</head>
<body>
  <div id="app">
    <!-- Vue.jsと連携したHTMLコードを書く場所 -->
    <!-- 追加した配列が消せる！！！ -->
    <input type="text" v-model="message">
    <ul>
    	<li v-for="(item,key) in items">{{ item.message }}<button v-on:click="deleteItems(key)">delete</button></li>
    </ul>
    <button v-on:click="addItems">additem</button>
  </div>

  <script>
    // JavaScriptコードを書く場所
    new Vue({ 
    el: '#app',
    data: {
    	message: '',
    	items: []
	 },
	 
	 methods: {
	 	addItems: function() {
	 		this.items.push({message: this.message})
	 		this.message = ''
	 	},
	 	deleteItems: function(key) {
	 		Vue.delete(this.items,key)
	 	}
	 }
     	
    });
    
    
  </script>
  
</body>
</html>